.d-flex.h-100 {
  height: 100vh;
  background-color: #1e1f24;
}

@media (max-width: 768px) {
  .d-flex > app-sidebar {
    position: absolute;
    z-index: 10;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s;
  }
  // Add toggle for mobile sidebar if needed
}