<div class="modal fade show" [ngClass]="{'d-block': isVisible}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ data.title }}</h5>
        <button type="button" class="btn-close" (click)="onCancel()"></button>
      </div>
      <div class="modal-body">
        <p>{{ data.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">{{ data.cancelText || 'Cancel' }}</button>
        <button type="button" class="btn btn-danger" (click)="onConfirm()">{{ data.confirmText || 'Confirm' }}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show" *ngIf="isVisible" (click)="onCancel()"></div>