.avatar-wrapper {
  position: relative;
  display: inline-block;
}

.avatar {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 2px solid #fff;
}

.avatar-small {
  width: 30px;
  height: 30px;
}

.avatar-medium {
  width: 40px;
  height: 40px;
}

.avatar-large {
  width: 50px;
  height: 50px;
}

.online-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: #28a745;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #f8f9fa;
}