<div class="message-bubble" [ngClass]="{'message-own': isOwnMessage, 'message-other': !isOwnMessage}">
  <div class="message-sender" *ngIf="!isOwnMessage">{{ message.senderName }}</div>
  <div class="message-content">
    <img *ngIf="message.isImage" [src]="message.message" class="message-image" alt="Sent image">
    <span *ngIf="!message.isImage">{{ message.message }}</span>
  </div>
  <div class="message-footer">
    <span class="message-time">{{ message.createdAt | timestamp }}</span>
    <button *ngIf="isOwnMessage" class="btn-delete" (click)="onDelete()">Delete</button>
  </div>
</div>